* {
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    /* Stack elements on top of eachother */
    justify-content: center;
    /* Centers horizontally */
    align-items: center;
    /* Centers vertically */
    height: 100vh;
    /* Ensures body takes full screen height */
    margin: 0;
    /* Removes default margin */
}


#container {
    display: flex;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
}

.item {
    background-color: rgb(255, 255, 255);
    display: block;
    border: 1px solid rgba(0, 0, 0, 0.2);
    flex-grow: 1;
}

#button {
    display: flex;
}